body{
    background-color: yellow;
   
}

header{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}
header > h1{
    box-shadow: 10px 10px 10px 10px solid black;
}

main > image{
    padding: 5px;

}

img#grande{
    display: block;
}

img#pequena{
    display: none;
}
aside{
    box-shadow: 0px 0px 10px rgb(0, 0, 100, 100);
    position: fixed;
    margin-top: -15vh;
    padding: 20px;
    background-color: rgba(240, 248, 255, 0.266);
    border-radius: 30px;
    
    background-image: url(../imagens/seleção.jpg);
    background-position: right top;


    top: 50%;
    left: 60%;

}
aside > h1{
    text-align: center ;
    padding-top: -15px;
}

aside > h1,p{
    color: rgba(255, 254, 254, 0.675);
}


@media screen and (min-width: 800px){

    .forme{
    flex-direction: column;
}
}
